@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeue/HelveticaNeue.eot');
  src: url('../fonts/HelveticaNeue/HelveticaNeue.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/HelveticaNeue/HelveticaNeue.woff') format('woff'),
    url('../fonts/HelveticaNeue/HelveticaNeue.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.eot');
  src: url('../fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.woff') format('woff'),
    url('../fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeue-Light/HelveticaNeue-Light.eot');
  src: url('../fonts/HelveticaNeue-Light/HelveticaNeue-Light.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/HelveticaNeue-Light/HelveticaNeue-Light.woff') format('woff'),
    url('../fonts/HelveticaNeue-Light/HelveticaNeue-Light.ttf')
      format('truetype');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoRegular/RobotoRegular.eot');
  src: url('../fonts/RobotoRegular/RobotoRegular.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/RobotoRegular/RobotoRegular.woff') format('woff'),
    url('../fonts/RobotoRegular/RobotoRegular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoBold/RobotoBold.eot');
  src: url('../fonts/RobotoBold/RobotoBold.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/RobotoBold/RobotoBold.woff') format('woff'),
    url('../fonts/RobotoBold/RobotoBold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}

html {
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
  font-family: 'Helvetica Neue', 'Roboto', arial, sans-serif;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 400;
  min-width: 320px;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  min-height: 100vh;
  padding-bottom: 100px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a,
a:hover,
a:focus,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Helvetica Neue', 'roboto', arial, sans-serif;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.75);
}
.flexible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.orange {
  color: #eb5836;
}
.blue {
  color: #418bcf;
}
.text-muted {
  color: #676767;
}
a.btn {
  display: inline-block;
  padding: 15px 20px;
  background: #418bcf;
  color: #fff !important;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Helvetica Neue', 'roboto', arial, sans-serif;
  letter-spacing: 1px;
  -webkit-transition: background-color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
  text-decoration: none !important;
}
a.btn:hover {
  background: #eb5836;
}

/***** Navigation Menu *****/
nav {
  padding: 15px 0;
  -webkit-box-shadow: 0 1px 5px 0 rgba(148, 148, 148, 0.1);
  box-shadow: 0 1px 5px 0 rgba(148, 148, 148, 0.1);
}
.nav-menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.upvote-search .nav-menu-wrapper .logo {
  display: none;
}
a.logo {
  margin-right: auto;
  max-height: 30px;
  width: 100px;
}

ul.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
  font-family: Arial, sans-serif;
}

ul.menu li {
  display: inline-block;
}
ul.menu li .menu-item {
  margin: 0px 13px;
  text-transform: uppercase;
  font-size: 14px;
  display: inline-block;
  position: relative;
}
ul.menu li .menu-item:before {
  content: '';
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: -2px;
  background: #418bcf;
  height: 2px;
  -webkit-transition-property: width;
  -o-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
ul.menu li .menu-item:hover:before,
ul.menu li .menu-item:focus:before,
ul.menu li .menu-item:active:before {
  left: 0;
  right: auto;
  width: 100%;
  z-index: 1;
}
ul.menu li .menu-item.current {
  color: #418bcf;
  font-weight: 600;
}
/***** Mobile menu button *****/
.hamburger {
  padding: 0;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  -o-transition-property: opacity, filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  display: none;
  outline: none;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #418bcf;
}

.hamburger-box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 30px;
  height: 3px;
  background-color: #418bcf;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: '';
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  -webkit-transition-duration: 0.13s;
  -o-transition-duration: 0.13s;
  transition-duration: 0.13s;
  -webkit-transition-delay: 0.13s;
  -o-transition-delay: 0.13s;
  transition-delay: 0.13s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse .hamburger-inner::after {
  top: -20px;
  -webkit-transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    opacity 0.1s linear;
  -o-transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    opacity 0.1s linear;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    opacity 0.1s linear;
}
.hamburger--collapse .hamburger-inner::before {
  -webkit-transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19),
    -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  -webkit-transition-delay: 0.22s;
  -o-transition-delay: 0.22s;
  transition-delay: 0.22s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--collapse.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    opacity 0.1s 0.22s linear;
  -o-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    opacity 0.1s 0.22s linear;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    opacity 0.1s 0.22s linear;
}
.hamburger--collapse.is-active .hamburger-inner::before {
  top: 0;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    -webkit-transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    -webkit-transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1),
    -webkit-transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*****************
***** Header *****
*****************/
.header {
  border-bottom: 1px solid #f5f5f5;
  padding: 35px 0;
}
.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.logo {
  width: 50px;
  margin-right: 15px;
}
.header-logo h1 {
  font-size: 45px;
  font-weight: 400;
  margin: 10px 0;
}
.header-logo h1 sup {
  font-weight: 500;
  color: #418bcf;
  font-size: 24px;
}
.header-logo h1 img {
  max-width: 260px;
}
.header-search-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header-search,
.header-search-filter {
  position: relative;
  width: 49%;
  display: inline-block;
}
.header-search-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
#search-form {
  position: relative;
}
input {
  width: 100%;
  display: inline-block;
  position: relative;
  background: #fff;
  color: #5e647d;
  border: none;
  border-radius: 32.5px;
  -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.15);
  font-weight: 400;
  padding: 18px 25px;
  outline: none;
  font-family: 'Helvetica Neue', 'roboto', arial, sans-serif;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 20px;
  font-size: 1.25rem;
}
a.search-submit {
  display: inline-block;
  position: absolute;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  width: 27px;
  height: 28px;
  background: url(../images/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 27px 28px;
  vertical-align: middle;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 25px;
}

section.search-results {
  padding: 30px 0;
}
#show-more-btn {
  margin: 15px auto;
  font-size: 14px;
  padding: 12px 20px;
}
.results-sep {
  margin: 40px 0;
  width: 100%;
  height: 1px;
  background: #ededed;
  position: relative;
}
.results-sep span.page {
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-56%);
  font-size: 14px;
  line-height: 1;
  color: #585858;
}
#noresults,
#loading {
  display: none;
}
#loading {
  text-align: center;
}
#loading img {
  display: block;
  margin: 0 auto;
}
.search-results-list {
  width: 80%;
  position: relative;
}
.search-results-count {
  font-size: 14px;
  color: #585858;
  margin-bottom: 20px;
}
.search-results-list-item {
  margin-bottom: 27px;
}
.search-results-list-item-title a {
  margin-bottom: 5px;
  font-size: 22px;
  font-family: 'Helvetica Neue', 'roboto', arial, sans-serif;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.75);
  -webkit-transition: color 0.1s ease-in;
  -o-transition: color 0.1s ease-in;
  transition: color 0.1s ease-in;
  display: inline-block;
  line-height: 1.2;
}
.search-results-list-item-title a:hover {
  color: #418bcf;
}
.search-results-list-item-link {
  line-height: 1;
  margin-top: -2px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #009688;
}
.search-results-list-item-info {
  padding-top: 5px;
  color: #585858;
  font-weight: 400;
  font-family: 'Helvetica Neue', 'roboto', arial, sans-serif;
  line-height: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.search-results-list-item-date {
  font-size: 11px;
  margin-top: 10px;
  margin-bottom: 2px;
  color: #5f5f5f;
}
.search-results-list-item-content {
  line-height: 1.35;
  margin-top: 0;
}
.search-results-list-item-info .upvotes {
  margin-right: 5px;
}
.search-results-list-item-info .upvotes,
.search-results-list-item-info .downvotes {
  font-weight: 500;
}
.search-results-list-item-info .score {
  padding-left: 15px;
  margin-left: 15px;
  border-left: 1px solid;
}
.search-results-list-item-info img.emoji {
  width: 18px;
  height: 18px;
  margin-top: -4px !important;
  margin-right: 3px !important;
}

/***** Select Dorpdowns Styling *****/
.filter-title,
.filter-clear {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  color: #7c7c7c;
  padding-top: 2px;
  letter-spacing: 1px;
  width: 50%;
  padding-left: 18px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.filter-clear {
  margin-left: auto;
  padding-left: 10px;
  text-align: right;
}
a.clear-filter {
  display: none;
}
.nice-select {
  -webkit-tap-highlight-color: transparent;
  background-color: #fff;
  border-radius: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 14px;
  height: 28px;
  line-height: 28px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: auto;
  margin-right: 15px;
  background: #fff;
  color: #418bcf;
  border: none;
  font-family: 'Helvetica Neue', 'roboto', arial, sans-serif;
  font-weight: 600;
}

.nice-select:hover {
  border-color: #dbdbdb;
}
.nice-select:active,
.nice-select.open,
.nice-select:focus {
  border-color: #999;
}
.nice-select:after {
  border-bottom: 2px solid #418bcf;
  border-right: 2px solid #418bcf;
  content: '';
  display: block;
  height: 5px;
  margin-top: -4px;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform-origin: 66% 66%;
  -ms-transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  width: 5px;
}
.nice-select.open:after {
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.nice-select.open .list {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale(1) translateY(0);
  -ms-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0);
}
.nice-select.disabled {
  border-color: #ededed;
  color: #999;
  pointer-events: none;
}
.nice-select.disabled:after {
  border-color: #cccccc;
}
.nice-select.wide {
  width: 100%;
}
.nice-select.wide .list {
  left: 0 !important;
  right: 0 !important;
}
.nice-select.right {
  float: right;
}
.nice-select.right .list {
  left: auto;
  right: 0;
}
.nice-select.small {
  font-size: 12px;
  height: 36px;
  line-height: 34px;
}
.nice-select.small:after {
  height: 4px;
  width: 4px;
}
.nice-select.small .option {
  line-height: 34px;
  min-height: 34px;
}
.option-description {
  position: absolute;
  right: 102%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 12px;
  text-align: right;
  background: #fff;
  padding: 3px 5px;
}
.nice-select .list {
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
  box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 4px;
  opacity: 0;
  /* overflow: hidden; */
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: scale(0.75) translateY(-21px);
  -ms-transform: scale(0.75) translateY(-21px);
  transform: scale(0.75) translateY(-21px);
  -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25),
    opacity 0.15s ease-out;
  -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25),
    opacity 0.15s ease-out;
  -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25),
    opacity 0.15s ease-out;
  -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25),
    opacity 0.15s ease-out;
  -o-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  z-index: 9;
}
.nice-select .list:hover .option:not(:hover) {
  background-color: transparent !important;
}
.nice-select .option {
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  list-style: none;
  min-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  text-align: left;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  min-width: 40px;
  position: relative;
}
.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
  background-color: #f6f6f6;
}
.nice-select .option.selected {
  font-weight: bold;
}
.nice-select .option.disabled {
  background-color: transparent;
  color: #999;
  cursor: default;
}

.no-csspointerevents .nice-select .list {
  display: none;
}

.no-csspointerevents .nice-select.open .list {
  display: block;
}
img.emoji {
  display: inline !important;
  border: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  height: 25px;
  width: 25px;
  margin: 0 0.07em !important;
  vertical-align: middle !important;
  background: none !important;
  padding: 0 !important;
}

/****** Footer *****/
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: #fafafa;
}
footer .footer-text {
  padding: 20px 0;
  border-top: 1px solid #f5f5f5;
  text-align: center;
  color: #6b6b6b;
}
/***********************
***** Text content *****
***********************/
.text-content {
  padding-bottom: 50px;
}
.text-content h2,
.text-content h3 {
  margin-bottom: 0;
}
.text-content p {
  margin-top: 5px;
}
.text-content a {
  color: #418bcf;
}
.text-content a:hover {
  text-decoration: underline;
  color: #eb5836;
}
.text-content a.orange {
  color: #eb5836;
}
.text-content a.orange:hover {
  color: #418bcf;
}

/********************
***** About Pge *****
********************/
section.about {
  padding: 80px 0 40px;
}
.about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.about-wrapper .content-logo {
  width: 40%;
  text-align: right;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 60px;
}
.about-wrapper .text-content {
  width: 60%;
}
.about-wrapper .text-content h1 {
  font-size: 42px;

  line-height: 1.2;
  margin-bottom: 0;
}
.about-wrapper .text-content h2 {
  line-height: 1.2;
}
/***************
***** Blog *****
****************/
.blog-heading h1 {
  font-size: 40px;
  margin-bottom: 0;
}
.blog-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 40px;
}
.blog-item {
  position: relative;
  width: 50%;
  border: 20px solid #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
.blog-item img {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform-origin: bottom;
  -ms-transform-origin: bottom;
  transform-origin: bottom;
}
.blog-item:hover > img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.blog-item h2.blog-item-title {
  margin-bottom: 0;
  line-height: 1.2;
  color: #418bcf;
}
.blog-item h3.blog-item-subtitle {
  margin-top: 3px;
  margin-bottom: 4px;
  font-size: 18px;
}
.blog-item a.read-more {
  color: #eb5836;
  font-family: 'Helvetica Neue', 'roboto', arial, sans-serif;
  font-weight: 600;
  margin-top: 5px;
  display: block;
  text-align: right;
}
.blog-item:first-child {
  width: 100%;
  border: none;
  margin-bottom: 20px;
}
.blog-item:first-child .blog-item-content {
  position: absolute;
  bottom: 0;
  background: rgba(65, 139, 207, 0.75);
  padding: 20px;
  color: #fff;
}
.blog-item:first-child h2.blog-item-title {
  margin: 0;
  color: #ffffff;
}
.blog-item:first-child h3.blog-item-subtitle {
  color: #fff;
}
.blog-item:first-child a.read-more {
  color: #ffcc4d;
  text-align: left;
}
/*********************
***** Blog inner *****
*********************/
.blog-hero {
  position: relative;
}
.blog-hero .hero-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(65, 139, 207, 0.67);
  margin: 0;
  padding: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff;
}
.blog-hero .hero-title h1 {
  font-size: 40px;
  line-height: 1.2;
  color: #ffffff;
  margin: 0;
}
.blog-hero .hero-title .hero-subtitle {
  line-height: 1.2;
  color: #efefef;
  margin-bottom: 0;
}
.image-left,
.image-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 25px 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.left-col,
.right-col {
  width: 47%;
}

/****** Responsive *****/

@media only screen and (max-width: 1200px) {
  .container {
    width: 960px;
  }
  .header {
    padding: 30px 0;
  }
  .logo {
    width: 35px;
  }
  .header-logo h1 {
    font-size: 40px;
  }
  input {
    padding: 12px 20px;
  }
  a.search-submit {
    width: 22px;
    height: 23px;
    background-size: 22px 23px;
  }
  .search-results-list-item-title a {
    font-size: 20px;
  }
}
@media only screen and (max-width: 992px) {
  .container {
    width: 720px;
  }
  .header-logo h1 img {
    max-width: 220px;
  }
  .header-search {
    width: 100%;
  }
  .header-search-row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .header-search-filter {
    width: 100%;
    margin-top: 15px;
  }
  .blog-hero .hero-title h1 {
    font-size: 30px;
  }
  .left-col,
  .right-col {
    width: 100%;
  }
  .left-col img,
  .right-col img {
    margin: 0 auto;
    display: block;
  }
  .image-right .left-col {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .image-right .right-col {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .blog-item:first-child .blog-item-content {
    position: relative;
    background: rgb(65, 139, 207);
    padding: 15px;
  }
  .blog-heading h1 {
    font-size: 32px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    width: 540px;
  }
  .header {
    padding: 15px 0;
  }
  .upvote-search .nav-menu-wrapper .logo {
    display: block;
  }
  .header .header-logo {
    display: none;
  }
  .header-logo h1 img {
    max-width: 200px;
  }
  .header-search {
    width: 100%;
  }
  ul.menu {
    position: absolute;
    top: 0;
    padding: 40px;
    text-align: left;
    background: #f3f3f3;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    left: -110%;
    visibility: hidden;
    opacity: 0;
    border-right: 1px solid #ccc;
    min-height: 100vh;
    z-index: -1;
    min-width: 55%;
  }
  ul.menu.active {
    opacity: 1;
    visibility: visible;
    left: 0;
    z-index: 100;
  }
  ul.menu li {
    display: block;
  }
  ul.menu li .menu-item {
    margin: 7px 13px;
    font-size: 16px;
  }
  .hamburger {
    display: block;
  }
  .search-results-list {
    width: 100%;
  }
  .search-results-list-item {
    margin-bottom: 15px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    border-radius: 8px;
    border-bottom: 1px hidden #fff;
    padding: 12px 15px;
    box-sizing: border-box;
  }
  .search-results-list-item-title a {
    font-size: 18px;
  }
  .search-results-list-item-link a {
    max-width: 100%;
    overflow: hidden;
    display: inline-block;
  }
  .search-results-list-item-content {
    font-size: 14px;
  }
  .search-results-list-item-info {
    font-size: 15px;
  }

  section.about {
    padding: 50px 0 15px;
  }
  .about-wrapper .content-logo {
    width: 100%;
    text-align: center;
    padding: 0;
  }
  .about-wrapper .text-content {
    width: 100%;
    padding-bottom: 0px;
  }
  .blog-hero .hero-title {
    position: relative;
    background: rgb(65, 139, 207);
  }
  .blog-inner-template .text-content {
    padding-bottom: 20px;
  }
  .blog-item {
    position: relative;
    width: 100%;
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 20px;
  }
  .blog-item a.read-more {
    text-align: left;
  }
  input {
    padding: 10px 15px;
    font-size: 16px;
  }
  a.search-submit {
    width: 18px;
    height: 19px;
    background-size: 18px 19px;
    right: 15px;
  }
  footer .footer-text {
    padding: 20px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 576px) {
  .container {
    width: 100%;
  }
  .header-logo h1 img {
    max-width: 170px;
  }
  .logo {
    width: 25px;
  }
  .nice-select {
    padding-left: 13px;
    padding-right: 24px;
    margin-right: 10px;
  }

  .option-description {
    left: 102%;
  }
  .blog-hero .hero-title h1 {
    font-size: 26px;
  }
  a.btn {
    font-size: 14px;
  }
  .blog-heading h1 {
    font-size: 28px;
  }
  .results-sep {
    margin: 30px auto;
    width: 94%;
  }
}
@media only screen and (max-width: 359px) {
  .nice-select {
    padding-left: 2px;
    padding-right: 22px;
    margin-right: 5px;
  }
}